<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/docs.min.css}">
<link rel="stylesheet" href="https://www.guobaa.com/get/aac.css">
<title>短应用&trade;</title>
</head>
<body>
  <div class="align-middle text-center" id="get">
  </div>
  <p></p>
	<footer class="bd-footer text-muted fixed-bottom">
	  <div class="container-fluid p-3">
	    <p>Powered by 短应用&trade;</p>
	  </div>
	</footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{/jquery/js/jquery.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
  <script th:src="@{/js/holder.min.js}"></script>
  <script src="https://www.guobaa.com/get/aac.js"></script>
</body>
</html>